@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);

  --color-primary: #7065f0;
  --color-primary-light: #f7f7fd;

  --color-text: #000929;
  --color-muted: #6c727f;

  --color-border: #e8e6f9;

  --color-background: #ffffff;

  --shadow-card: 0 20px 60px rgba(15, 23, 42, 0.08);

  --radius-card: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  background: #7065f0;
  color: white;
}

.swiper {
  padding-bottom: 3rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #7065f0 !important;
  width: 28px;
  border-radius: 9999px;
}

.container {
  @apply mx-auto max-w-7xl px-5;
}
